/* falcor.css */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 40px;
  }
}

/* de-bold the headings */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2, h3 {
  padding-bottom: 0.5em;
  padding-top: 0.25em;
}

h4,h5,h6 {
  padding-bottom: .25em;
  padding-bottom: .25em;
}

.jumbotron {
  background-color: #fafafa;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    font-weight: normal;
}

.navbar-brand {
    font-weight: bold;
}

html, body {
    height: 100%
}

#content {
  padding-bottom: 1.5em;
}

#content p {
  color: #333;
}

#content ul li {
  color: #333;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  font-size: .8em;
  // background-color: #f5f5f5;
}

#footer p {
  padding-bottom: 10px;
}

#content ul {
  margin-left: 0em;
  padding-left: 1.5em;
  list-style-position: inside;
}

#content ul > li { /* remove '>' for IE6 support */
  padding-left: 1em;
  text-indent: 0em;
}

#content ul {
  list-style: none;
}

#content .marketing ul > li {
  padding-left: 5px;
}

#content .marketing ul > li:before {
  content: "";
  text-indent: inherit;
  display: inherit;
  width: inherit;
  position: inherit;
  left: inherit;
}


#content ul > li:before {
  content: "✻";
  text-indent: 0;
  display: inline-block;
  width: 0;
  position: relative;
  left: -1.5em;
}

#content ul > li li:before {
  content: "✳";
  font-size: 0.8em;
}

#content ul > li li li:before {
  content: "－";
  font-size: 0.6em;
}

.hand-tip:before {
  content: "☞"
}
